<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ling.dao.mapper.StudentNewMapper">
  <resultMap id="BaseResultMap" type="com.ling.dao.entity.StudentNew">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="REAL" property="age" />
    <result column="class_room" jdbcType="INTEGER" property="classRoom" />
  </resultMap>
</mapper>